* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
  /*image name has to be enclosed in url() function even when referencing a local file name
  in the same directory or a filename in a different directory */
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0,0,0,0)), linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,0.35)), url("top-image.png"), url("bottom-image.png");
  /*background size ensures that image is scaled to 100% of the parent container */
  background-size: 100% 20%, 100% 20%, 100%, 100%;
  background-position: top, bottom, top, bottom;
  /* if this was not specified the image would repeat in both x and y directions*/
  background-repeat: no-repeat, no-repeat, no-repeat;
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;
  background-color: white;
  border-width: 0.1cm 0cm 0.1cm 0cm;
  border-style: solid;
  border-color: rgb(255, 0, 0) rgb(255, 255, 255) rgb(0, 255, 0) rgb(255, 255, 255);
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;

  /*add background image 'logo'*/
  background-image: url("logo.png");
  background-size: contain;
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0 , 0.5));
}

/* Your CSS below here */
